[[ -f .envrc.local ]] && source_env .envrc.local

export GO_CODE=~/Code/go-code
export GO111MODULE=on
export CGO_ENABLED=0
export GOPACKAGESDRIVER=$GO_CODE/tools/gopackagesdriver.sh
export PATH=$PATH:$GO_CODE/tools/bin
